/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://washingtonarmscollectors.org/wp-content/uploads/2016/02/cork-board.jpg");
    
  }
main {
    flex: 1 0 auto;
  }
.modal-trigger {
    visibility: hidden;
}
.modal-content {
  overflow:visible;
}
.btn-flat {
  padding:0;
}
.search-wrapper {
  width: 50%;
  margin: 0 auto;
}

#search {
  width: 95%;
  height: 95%;
}
#index-banner-home {
  background-image: url("https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAe-AAAAJGFjZDVkYzYzLTg1Y2ItNDk1Mi05YTZiLWYxNzhkNDcyNmI2OQ.jpg");
  background-size:cover
}
#logo-container-1 {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.myPTag {
  text-align: center;
}

.myRecipe {
  margin: auto;
  border: 3px solid #03a9f4;
}

.recipeSaveButton {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #66BB6A;
  border-radius: 50px;
  border: 1px solid white;
  width: 150px;
  box-shadow: 2px 2px 2px #888888;
  margin-bottom: 10px;
  color: white;
}


h5 {
  color: black;
}

.waves-effect {

  border: 2px solid white;
}

/* .btn-floating.btn-large i {
    line-height: 56px; */
    /* background-color: white;
    color: black;
} */

.card-panel{
  width: 90%;
}

.websiteurl {
  font-weight: bold;
  font-size: 16px;
  
}

.recipecontainer {
  position: relative;
  background-color: #fff;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  box-sizing: inherit;
  padding-top:15px;
}

.deleterecipe {
  margin-top: 15px;
}

#addButton {
  margin: auto;
  margin-top: 10px;
  height: 30px;
  padding-bottom: 35px !important;
  text-align:center;
  position: relative;
  border: .5px solid white;
  padding-right: 20px !important;
  padding-left: 15px !important;
}

#shoppingButton {
  margin: auto;
  margin-top: 10px;
  height: 30px;
  text-align:center;
  position: relative;
  border: .5px solid white;
  padding-bottom: 35px !important;
  padding-right: 20px !important;
  padding-left: 15px !important;
}

#buttonIcons {
  margin-left: 0px !important;
  margin-right:5px !important;
}

.recipecontain {
  overflow: scroll;
  margin: auto;
  padding: 10px;
  padding-right: 2cm;
}

.foodpic {
  border: 3px solid #03a9f4;
}

.card-content {
  padding:0px !important;
  padding-top: 2px;
}

.modal2 {
  display:none;
}

/*===============  Media Queries ================*/
    /* Custom, iPhone Retina */
    @media only screen and (max-width : 600px) {
      h5.theH5s { 
        font-size: 16px;
      }
      .card-panel {
        padding:5px !important;
      }

      .foodpic {
        margin: auto;
        width: 80%;
        height: 80%;
      }

      .recipecontain {
        height: 300px;
        overflow-y: scroll;
      }

      .card-panel {
        position: relative;
   }

   h5.theH5s {
    position: absolute;
    left: 20px;
    top: -35px;
    color: white !important;
    font-size: 20px;
}

    }
    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
       
    }
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      
    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      
    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      
    }
    /* Very Large Devices, Wide Screens */
    @media only screen and (min-width : 1300px) {
      
    }
/*================================================*/